html {
  position: relative;
  min-height: 100%;
}

body{
  background: black;
  color: white;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#run-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  font-size: 1.5em;
  padding-top: 5px;
}
